*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.Main-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://img.freepik.com/free-photo/blue-mountains-famous-tourism-scenery-lijiang_1417-1143.jpg?t=st=1735485578~exp=1735489178~hmac=effc98482e7c29b568984b00e8c28e2a528b0df2f2cd61ed7c78d273c7b97161&w=740); background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

fieldset{
  border-color: black;
}

form{
  background-color: rgba(255, 255, 255, 0.4);
  padding:3rem;
  width:500px;
}

form textarea{
  height:80px;
  width:250px;
  resize:none;
  padding: 0.5rem 0.8rem;
}

.text-form{
  display:flex;
  align-items: center;
  margin-bottom: 1rem;
}

.text-form label{
  width:100px;
  margin-right: 50px;
}

.text-form input{
   padding: 0.5rem 0.8rem;
}

button{
  cursor: pointer;
  background-color: rgb(34, 184, 34);
  border: none;
  padding: 10px 20px;
  color: antiquewhite;
}
